# Version 1.0
# Keep it on ~/.config/systemd/user/

# Run the following...
# systemctl --user enable alert-auto-reboot.service
# systemctl --user start alert-auto-reboot.service

[Unit]
Description=Alert before automated reboot
After=apt-daily.service

[Service]
Type=simple
ExecStart=%h/.local/bin/alert-auto-reboot.sh

[Install]
WantedBy=default.target

