# Version 1.0
# Keep it on ~/.config/systemd/user/

# Run the following...
# systemctl --user enable alert-auto-reboot.timer
# systemctl --user start alert-auto-reboot.timer

[Unit]
Description=Alert about automated reboots
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
Unit=alert-auto-reboot.service

OnCalendar=*-*-* 7:00
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target

