# Version 1.0
# Keep it on ~/.config/systemd/user/

[Unit]
Description=Alert about automated reboots
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
Unit=alert-auto-reboot.service

OnCalendar=*-*-* 7:00
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target

