# Version 1.1
# changelog:
# version: 1.1
#   - date: 2025-04-24
#   - update docs
# Keep it on ~/.config/systemd/user/

# Run the following...
# systemctl --user enable alert-auto-reboot.timer
# systemctl --user start alert-auto-reboot.timer

[Unit]
Description=Alert about automated reboots
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
Unit=alert-auto-reboot.service

OnCalendar=*-*-* 7:00
RandomizedDelaySec=60m
# When activated, it triggers the service immediately if it missed the last start time (option Persistent=true), for example due to the system being powered off
Persistent=true

[Install]
WantedBy=timers.target

